body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.tooltip{
  position: relative;
}

.crossTooltip.visible{
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltipDiv{
    font-size: 90%;
    visibility: hidden;

    background-color: rgba(250,250,250,1);
    border-top: 1px solid rgba(29,85,146,0.7);
    border-bottom: 1px solid rgba(29,85,146,0.4);
    border-left: 1px solid rgba(29,85,146,0.5);
    border-right: 1px solid rgba(29,85,146,0.5);

    color: #fff;

    position: absolute;
    left: -32.5%;
    bottom: 110%;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    z-index: 1;
    opacity: 0;
    transition: 1s;

    display: flex;
    flex-flow: column;
    justify-content:   flex-start;
}

.tooltip:hover > .tooltipDiv{
  visibility: visible;
  opacity: 1;

}

.tooltipDiv > div{
  padding: 4px 20px 4px 20px;
  margin-right: 20px;
  margin-left: 20px;
  color: black;
  font-weight: bold;
}

#homeHeader {
  width: 100%;
  height: 150px;
}

#homeMenu{
  border-bottom: 1px solid green;
  border-top: 1px solid green;
}

#homeMenu ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: auto;
  margin-left: 10%;
}

#homeMenu ul li{
  display: flex;
  width: 50%;
  max-width: 130px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:5px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid green;
  font-weight: bold;
  cursor: pointer;

  transition: 0.1s;
}

.menuLink:hover {
  color: green;
}

.menuLinkActive{
  color: green;
}

.showUpContainer{
  display: none;
  flex-direction: column;
  background-color: white;
  width: 70%;
  min-height: 700px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
box-shadow: 0 4px 10px 0 rgba(89, 79, 59, 0.3), 0 6px 20px 0 rgba(89, 79, 59, 0.29);
}

.rowForEntry{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 130px;
  height: 15%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  align-items: center;
}

.rowForEntry:hover{

  box-shadow: 0 2px 5px 0 rgba(89, 79, 59, 0.1);

}


.calendarImageBox{
 position: relative;
 max-width:100px;
 min-height: 100px;
 width: 30%;
 height: 30%;
 margin-left: 10%;
 margin-top: 20px;
}

.calendarImageBox img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.calendarImageBox span{
  position: absolute;
  top: 31%;
  left: 34%;
  font-size: 24pt;
  cursor: pointer;
}



.infoBox{
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: 4%;

}

.infoBox  > span {
    margin-right: 4%;
    font-size: 16px;
}

.crossDiv{
  position: relative;
  width: 5%;
  height: 25%;
  min-width: 30px;
  margin-left: 4%;
  margin-right: 0;
  align-content: flex-end;
}

.crossDiv > img{
  float: right;
  height: 100%;
  width: 100%;
  cursor: pointer;

}

.crossTooltip{
  background-color: rgba(250,250,250,1);
  border-top: 1px solid rgba(29,85,146,0.7);
  border-bottom: 1px solid rgba(29,85,146,0.4);
  border-left: 1px solid rgba(29,85,146,0.5);
  border-right: 1px solid rgba(29,85,146,0.5);

  color: #fff;
  position: absolute;

  text-align: center;
  padding: 0pt 15pt 5pt 15pt;
  border-radius: 6px;

  visibility: hidden;
  z-index: 1;
  opacity:0;
  transition: 1s;

 width: 90pt;


 color: black;
 font-size: 8pt;
 left: -40pt;
 bottom: 145%;
}

.crossTooltip > i{
font-size: 145%;
float: right;
color: red;
cursor: pointer;
z-index: 2;
position: relative;
top: 5pt;
right: -5pt;
}

.crossTooltip > p {
  font-size: 8.5pt;
  clear: right;
  margin-top: 15pt;
  font-weight: bold;
}

.crossTooltip > input{
  font-size: 10pt;
  width: 80%;
  margin: auto;
  background-color: rgba(73,144,226,1);
  color: white;
  border-radius: 5px;
  border: none;
  opacity: 0.8;
  cursor: pointer;
  margin-top: 0pt;
}
.crossTooltip > input:hover{
  box-shadow: 0 0px 5px 0px rgba(89, 79, 59, 0.8);

}
